@{
    ViewBag.Title = "Home";
}

<header>
    <img src="~/images/logo.svg" alt="" />
    <div class="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav class="cust__nav">
        <ul>
            <li><a href="~/Home/About">About Us</a></li>
        </ul>
    </nav>
</header>
<div class="home__container">
    <div class="left__container">
        <div class="text">
            <h1>Subchain. The perfect substitute for your company's current supply chain system.</h1>
            <p>Procuring and Optimizing new relationships in the supply chain industry made easy.</p>
        </div>
        <div class="image_box">
            <img src="~/images/image1.svg" alt="" />
        </div>
    </div>
    <div class="right__container">
        <div class="text_box">
            <h2>Sign Up for your respective accounts</h2>
            <a href="~/Distributor/SignUp">
                <div>
                    <img src="~/images/distributor.svg" />
                    <p>Distributor</p>
                </div>
            </a>
            <a href="~/Supplier/SignUp">
                <div>
                    <img src="~/images/farmer.svg" />
                    <p>Supplier</p>
                </div>
            </a>
            <a href="~/Logistics/SignUp">
                <div>
                    <img src="~/images/logistics.svg" />
                    <p>3rd Party Logistics</p>
                </div>
            </a>
        </div>
    </div>
</div>
