@{
    ViewBag.Title = "Sign Up";
}

<main class="signup">
    <header>
        <img src="~/images/logo.svg" alt="" />
        <div class="burger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <nav class="cust__nav">
            <ul>
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About Us</a></li>
            </ul>
        </nav>
    </header>
    <form action="~/Supplier/SignUp" method="post">
        <h1>Supplier Sign Up</h1>
        <label>
            <input name="company" type="text" required autocomplete="off" />
            <span>Company Name</span>
        </label>
        <div style="display: flex;">
            <label>
                <input name="country" type="text" required autocomplete="off" />
                <span>Country Of Origin</span>
            </label>
            <label>
                <input name="city" type="text" required autocomplete="off" />
                <span>City / State</span>
            </label>
        </div>
        <p>Categories Of Products Offered</p>
        <div style="display: flex;">
            <article style="margin-right: 50px;">
                <input type="checkbox" name="cat1" value="fruits&vegetables" />
                <label for="cat1">Fruits & Vegetables</label>
            </article>
            <article>
                <input type="checkbox" name="cat2" value="meat&seafood" />
                <label for="cat2">Meat & Seafood</label>
            </article>
        </div>
        <div style="display: flex;">
            <article style="margin-right: 77px;">
                <input type="checkbox" name="cat3" value="grain&spices" />
                <label for="cat3">Grain & Spices</label>
            </article>
            <article>
                <input type="checkbox" name="cat4" value="dairy" />
                <label for="cat4">Dairy</label>
            </article>
        </div>
        <div style="display: flex;">
            <article style="margin-right: 131px;">
                <input type="checkbox" name="cat5" value="frozen" />
                <label for="cat5">Frozen</label>
            </article>
            <article>
                <input type="checkbox" name="cat6" value="drinks" />
                <label for="cat6">Drinks</label>
            </article>
        </div>
        <label>
            <input name="email" type="text" required autocomplete="off" />
            <span>Email</span>
        </label>
        <span style="margin-top: 5px; color: red;">@TempData["email_error"]</span>
        <div style="display: flex;">
            <label>
                <input name="pass" type="text" required autocomplete="off" />
                <span>Password</span>
            </label>
            <label>
                <input name="pass-confirm" type="text" required autocomplete="off" />
                <span>Confirm Password</span>
            </label>
        </div>
        <span style="margin-top: 5px; color: red;">@TempData["pass_error"]</span>
        <button class="submit" type="submit">Sign Up</button>
    </form>
    <p style="margin-top: 20px; color: #435D2B">Already have an account <a href="~/Supplier/SignIn" style="cursor: pointer; color: #931C2F">Sign In here</a></p>
</main>