@model P2_SubChain.Models.Invoice
@*@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@{
    ViewBag.Title = "Create Invoice";
}


<header>
    <img src="~/images/logo.svg" alt="" />
    <div class="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav class="cust__nav">
        <ul>
            <li><a href="~/Distributor/Index">Home</a></li>
            <li><a href="~/Distributor/Invoice">Invoices</a></li>
            <li><a href="~/Distributor/Communication">Communication</a></li>
            <li><a href="~/Home/SignOut">Sign Out</a></li>
        </ul>
    </nav>
</header>
<div class="create__container">
    <h2>Create a new Invoice</h2>
    <form method="post" action="~/Distributor/CreateInv" enctype="multipart/form-data">
        <div class="form__right">
            <div class="file__input">
                <div>
                    <img src="" alt="" id="file-preview" />
                    <p id="preview-text">No image selected yet</p>
                </div>
                <input asp-for="File" id="default-btn" required />
                <button type="button" id="custom-btn">
                    <img src="~/images/upload.svg" alt="" />
                    <span>Choose a Photo</span>
                </button>
            </div>
            <input style="display: none;" asp-for="SenderId" value="@Context.Session.GetInt32("UserId")" />
            <button class="submit" type="submit">List it!</button>
        </div>
    </form>
</div>
<p style="text-align: center; color: forestgreen; margin-top: 35px;">@TempData["invoice_success"]</p>
<script>
    // File upload preview
    const custBtn = document.getElementById("custom-btn")
    const defaultBtn = document.getElementById("default-btn")

    custBtn.addEventListener('click', () => {
        defaultBtn.click();
    })

    defaultBtn.addEventListener('change', (event) => {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-preview")
            preview.src = src
            preview.style.display = "block";
            document.getElementById("preview-text").style.display = "none";
        }
    })
</script>
