@model P2_SubChain.Models.Invoice
@{
    ViewBag.Title = "Messages";
}

<header>
    <img src="~/images/logo.svg" alt="" />
    <div class="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav class="cust__nav">
        <ul>
            <li><a href="~/Distributor/Index">Home</a></li>
            <li><a href="~/Distributor/Invoice">Invoices</a></li>
            <li><a href="~/`Distributor/Communication">Communication</a></li>
            <li><a href="~/Home/SignOut">Sign Out</a></li>
        </ul>
    </nav>
</header>
<main class="viewInvoice">
    <article>
        <h2>Invoice no. @Model.InvoiceId</h2>
        <embed src="~/invoice/@Model.Filename" class="inv" />
    </article>
</main>